@media(max-width:850px) {
    body {
        font-size: 14px;
    }

    .owl-stage-outer {
        overflow: hidden !important;
    }

    .carousel-item img {
        height: 100%;
        object-fit: cover;
    }

    .offersAdvertisement {
        position: relative;
        overflow: hidden;
        padding: 0;
    }

    .offersAdvertisement:before {
        content: "";
        background-color: rgba(0, 0, 0, .2);
        position: absolute;
        width: 100%;
        height: 100%;
        ;
        left: 0;
        top: 0
    }

    .advCont {
        padding: 25px 0 19px
    }

    .FollowCar .owl-nav button.owl-next,
    .FollowCar .owl-nav button.owl-prev {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid var(--main-color);
        margin: 5px
    }

    .FollowCar.owl-carousel .owl-nav button.owl-next i,
    .testmonialCar.owl-carousel .owl-nav button.owl-prev i {
        color: var(--main-color);
    }

    .FollowCar.owl-carousel .owl-nav button.owl-next:hover i,
    .FollowCar.owl-carousel .owl-nav button.owl-prev:hover i {

        color: white
    }

    .FollowCar.owl-carousel .owl-nav button.owl-next:hover,
    .FollowCar.owl-carousel .owl-nav button.owl-prev:hover {
        background-color: var(--main-color);
    }

    .FollowCar.owl-carousel .owl-nav {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .subscribeForm {
        margin: 20px 0
    }

    .footerList {
        margin-top: 20px;
    }

    .offersBox {
        margin-bottom: 10px;
    }

    .headerContactInfo li {
        margin-right: 8px;
    }

    .conttactHeaderInfo li:last-child {
        display: none
    }

    .headerContactInfo {
        float: none;
    }

    .headerContactInfo li span {
        font-size: .65em;
    }

    .headerContactInfo li a.changeLang {
        width: 64px;
    }

    .logo {
        width: 40px
    }

    .wishCartlList li {
        margin-left: 0
    }

    .wishCartlList li i {
        font-size: .75em;
    }

    .wishCartlList li h6 {
        font-size: 0.6em;
    }

    .wishCartlList li {
        margin-right: 3px;
    }

    .wishCartlList li:last-child {
        margin-right: 0;
    }

    .cartNum {
        width: 13px;
        height: 13px;
        font-size: 0.8em;
    }

    .searchInput {
        padding: 0;
        padding-left: 27px;
    }

    .searchInput::placeholder {
        font-size: 10px;
        max-width: 75px;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 1.2em;
        white-space: nowrap;
        align-self: center;
    }

    .searchBtn {
        width: 49px;
        font-size: 10px;
    }

    .searchBox {
        height: 24px;
    }

    .searchBox .form-group {
        margin-bottom: 0;
    }

    .searchBox .form-group i {
        font-size: 10px;
        top: 7px;
        left: 7px
    }

    .wishIconHeader {
        margin-bottom: 0;
    }

    .MiddleHeder {
        padding-top: 14px
    }

     .navbar-collapse .close {
        display: block;
        position: absolute;
        right: 10px;
        opacity: .5;
        background-color: transparent;
        border: 0;
        top: 10px;
        font-size: 20px;
        z-index: 9999999999999;
    }

    .navbar-nav .nav-item {
        margin-top: 20px
    }

    .collapsing {
        position: absolute;
        height: 100vh !important;
        overflow: hidden;
        transition: all .15s ease;
        background-color: white;
        left: -200px
    }

    .navbar-collapse.collapse {
        position: absolute;
        left: -200px;
        padding: 10px;
        z-index: 33333;
        top: -55px;
        opacity: 0;
        height: 100vh !important;
        background-color: white;
        width: 100vw;
    }

  
      

    .navbar-toggler {
        display: inline-block;
        width: 28px;
        height: 21px;
        padding: 2px;
        cursor: pointer;
        transition: transform .2s ease-in-out;
        -moz-transition: transform .2s ease-in-out;
        -webkit-transition: transform .2s ease-in-out;
        vertical-align: middle;
        background: none;
        align-self: center;
        border: 1px solid var(--main-color);

    }

    .navbar-toggler:before,
    .navbar-toggler:after {
        content: "";
    }

    .navbar-toggler:before,
    .navbar-toggler span,
    .navbar-toggler:after {
        display: block;
        width: 100%;
        height: 2px;
        margin: 0 0 4px;
        transition: transform .2s ease-in-out;
        -moz-transition: transform .2s ease-in-out;
        -webkit-transition: transform .2s ease-in-out;
        background: var(--main-color);
        border-radius: 5px;
    }
    .navbar-toggler:after {
        margin-bottom: 0;
    }

    .navbar-expand-lg {
        padding: 10px 0;
    }

    .navbar-collapse.collapse.show {
        left: -15px;
        opacity: 1;
    }

    .carousel-caption h1 {
        font-size: 24px;
    }

    .carousel-caption p {
        font-size: 16px;

        margin-top: 17px;
    }

    .heroBtn {
        font-size: 16px;
        margin-top: 15px;
        width: 115px;
        height: 32px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 25px;
        height: 25px;
    }

    .carousel-control-prev i,
    .carousel-control-next i {
        font-size: 14px;
    }

    .carousel-control-prev{
        left: 19px;
    }
    .carousel-control-next{
        right: 19px;
    }
    .carousel-caption{
        top:18px
    }
    .carousel-inner{
        height: 163px;
    }
    .carousel-indicators{
        bottom: -40px;
    }.carousel-indicators li{
        width: 8px;
        height: 8px;
    }
    .carousel-indicators li.active{
        width: 12px;
        height: 12px;
    }
    .popularCateg{
        padding-top: 35px;
    }
    .offersSec .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .FilterList{
        display: none;
    }
    .categOffers{
        display: none;
    }
    .SalesProductList{
        display: none;
    }
    .mobileFilter{display: block;
    float: right;
color:white}
.filterBtn{
    width: 67px;
    height: 24px;
    margin-bottom: 0;
}
.filterHeader p{
    font-size: 10px;
}
.filterHeader .selectric-select{
    width: 97px;
   min-height: 24px !important;
   height: 24px !important;
}

#viewProduct .modal-body{
    padding: 28px 18px;
}
.viewProductsDetails{
    margin-top: 30px;
}
.selectric .button{
    font-size: 10px;
    padding: 2px 0;
}
.filterHeader span{
    font-size: 10px;
}
.chechoutForm .form-control::placeholder, .selectric .label, .selectric-items li{
    font-size: 12px;
}
.filterHeader   .selectric .label{
    padding: 0;
    line-height: 24px;
}

.selectric{width: 100%;}
.breadcrumbContainer nav{display: inline-block;}
#productViewSlider{
    height: auto !important;
    width: 100%;
    display: flex !important;
}
#productViewSlider.owl-carousel .owl-nav .owl-next{
    bottom: auto;
    left: 0;
    right: auto;
}
#productViewSlider.owl-carousel .owl-nav .owl-next, #productViewSlider.owl-carousel .owl-nav .owl-prev{
    top: auto;
    right: 0;
    left: auto;
}
.producViewImage{
    width: 100%;
    display: flex;
    height: 400px;
}
.productImageList{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.productImageList{
    height: auto;
}
#productViewSlider .owl-nav{
height: auto;
top:45px;text-align: left;
}
.categPills .nav-link{
    margin:0 2px
}
.discountsideDetails h5{
    font-size: 12px;
    margin-bottom: 5px;
}

.discountsideDetails span{
    font-size: 10px;
}
.discountDetailsBox{
    height: 60px;
    padding: 0 17px;
    margin-bottom: 13px;
}
.productVideo{
    margin-bottom: 0;
}
.ProductCategDetailsPillsCont{
    padding-bottom: 0;
}
.productCol{
    padding-right: 15px;
    padding-left: 15px;
}
.productBox{
    margin-bottom: 20px;
}
.categPills .nav-link{
    font-size: 12px;
    padding:7px 12px
}
.categProductCont{
    padding-top: 30px;
    padding-bottom: 15px;
}
.headerCon{
    margin-right: 3px;
}