:root {
    --main-color: #00239C;
    --font-famiy: "'Roboto', sans-serif";
    --secondMainColor: #FE5000;
    --sliderOverlay: rgba(0, 35, 156, 0.6);
    --dotsColor: rgba(0, 35, 156, 0.2);
    --box-shadow: rgba(254, 80, 0, 0.15);

}

body {
    color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: var(--font-famiy);
    overflow-x: hidden;
}

img {
    width: 100%;
}

form {
    margin: 0;
}

a {
    text-decoration: none;
    transition: all .5s;
}

a:hover {
    color: inherit;
    text-decoration: none;
    transition: all .5s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.topheader {
    height: 46px;
    width: 100%;
    background-color: var(--main-color);
}

.headerContactIcon {
    width: 14px;
    margin-right: 9px;
    display: inline-block;
}

.headerContactIcon svg {
    width: 100%;
}

.headerContactInfo li {
    margin-right: 73px;
    display: inline-block;
}

.headerContactInfo li span {
    font-size: .875em;
    display: inline-block;
}

.headerContactInfo li a {
    color: white;
    ;
}

.headerContactInfo li:hover a {
    color: var(--secondMainColor);
}

.headerContactInfo li:hover a svg path {
    fill: var(--secondMainColor);
}

.header-content {
    display: flex;
    height: 100%;
    align-items: center;
}

.flagIcon {
    display: inline-block;
    margin-right: 6px;
}

.headerContactInfo li a.changeLang {
    background-color: white;
    width: 93px;
    height: 28px;
    color: black;
    font-size: .85em;
    display: flex;
    border-radius: 4px;
    justify-content: center;
}

.headerContactInfo li .changeLang span {
    align-self: center;
}

.headerContactInfo li:hover a.changeLang {
    background-color: var(--secondMainColor);
    color: white
}

.MiddleHeder {
    padding: 26px 0 0
}

.logo {
    width: 80px;
    margin-right: 70px;
}

.searchBox {
    width: 100%;
    display: flex;
    position: relative;
    height: 38px;
    border-radius: 4px;
    overflow: hidden;
}

.searchBox .form-group {
    position: relative;
    width: 100%;
    height: 100%;
}

.searchBox .form-group i {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 12px;
}

.searchInput {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding-left: 40px;
    box-sizing: border-box;
    height: 100%;
    ;
}

.searchInput::placeholder {
    color: #8F8F8F80;
    font-size: 14px;
}

.searchBtn {
    position: absolute;
    width: 91px;
    height: 38px;
    display: flex;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    background: #DBDBDB;
    border-radius: 0px 4px 4px 0px;
    justify-content: center;
}

.searchBtn:hover {
    background-color: var(--main-color);
    color: white;
}

.searchBtn span {
    align-self: center;
}

.wishCartlList li {
    display: inline-block;
    margin-left: 30px;
}

.wishCartlList li:last-child {
    margin-right: 0;
}

.signList li {
    margin-right: 25px
}

.signList li:last-child {
    margin-right: 0;
}

.wishIconHeader {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.wishCartlList li:hover svg path {
    fill: var(--secondMainColor);
}

.wishCartlList li:hover h6 {
    color: var(--main-color)
}

.wishCartlList h6 {
    font-weight: 400;
    font-size: 12px;
    color: #000;
    text-align: center;
}

.CartIcon {
    position: relative;
}

.cartNum {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #E70727;
    color: white;
    justify-content: center;
    display: flex;
    font-size: 10px;
    left: 9px;
    top: -6px;
}

.CartIcon span {
    align-self: center;
}

.navbar-expand-lg {
    padding: 0;
    padding-bottom: 28px;
}

.navbar-expand-lg .nav-item {
    margin-right: 32px;

}

.navbar-expand-lg .nav-item .nav-link {
    padding: 0;
    font-weight: 400;
    font-size: 1em;
    color: var(--main-color)
}

.navbar-expand-lg .nav-item:last-child {
    margin-right: 0;
}

.navbar-expand-lg .nav-item.active .nav-link {
    font-weight: 600;
}

/************************ Hero Slider *********************/
.carousel-item {
    position: relative;

}

.carousel-inner {
    height: 400px;
}

.carousel-item:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--sliderOverlay);
}

.heroBtn {
    background-color: var(--secondMainColor);
    display: flex;
    justify-content: center;
    width: 217px;
    height: 48px;
    border-radius: 30px;
    margin-top: 32px;
    margin: auto;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.heroBtn span {
    align-self: center;
}

.carousel-caption {
    top: 92px
}

.carousel-caption p {
    font-weight: 700;
    font-size: 32px;
    color: white;
    ;
    margin-top: 32px
}

.carousel-caption h1 {
    font-weight: 700;
    font-size: 56px;
}

.heroBtn:hover {
    background-color: white;
    ;
    color: var(--secondMainColor)
}

.carousel-indicators {
    bottom: -60px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--dotsColor);
    margin-left: 12px;
    display: block;
    opacity: 1;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 0;
}

.carousel-indicators li.active {
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
}

.carousel-control-prev,
.carousel-control-next {
    width: 52px;
    height: 52px;
    background: #EBEBEB;
    border-radius: 50%;
    ;
    top: 50%;
    opacity: 1;
}

.carousel-control-prev {
    lefT: 35px
}

.carousel-control-next {
    right: 35px;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: var(--main-color);
    font-size: 25px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: var(--secondMainColor);
}

.carousel-control-prev:hover i,
.carousel-control-next:hover i {
    color: white
}

/******************* Categories***********************/
.popularCateg {

    padding: 28px 0;
    padding-top: 64px
}

.sectionHeader {
    margin-bottom: 13px;
}

.sectionHeader h6 {
    float: left;
    font-weight: 700;
    font-size: 22px;
    color: black
}

.viewLink {
    float: right;
    color: var(--secondMainColor);
    font-weight: 700;
    font-size: 16px;
}

.categBox {
    width: 177px;
    height: 213px;
    border: 1px solid rgba(173, 173, 173, 0.5);
    position: relative;
    margin-bottom: 20px;
    padding: 24px;
    border-radius: 4px;
    display: block;
    transition: all .5s;
}

.categImg {
    width: 124px;
    height: 124px;

    margin: auto;
}

.categBox h4 {
    text-align: center;
    font-weight: 700;
    font-size: 1.125em;
    ;
    color: black;
    margin-top: 19px;
    transition: all .5s;
}

.categBox:hover h4 {
    transition: all .5s;
    color: var(--secondMainColor)
}

.categBox:hover {
    border: 1px solid var(--secondMainColor);
    box-shadow: 1px 7px 2px var(--box-shadow);
    margin-top: -5px;
    transition: all .5s;
}

/***************** popular Product *************/
.popularProduct {
    padding: 26px 0
}

.productCol {
    margin: 0;
    padding: 0
}

.productBox {
    width: 100%;
    height: 300px;
    border: 1px solid rgba(173, 173, 173, 0.5);
    position: relative;
    padding: 8px;
    padding-top: 30px;
    border-radius: 4px;
    display: block;
    transition: all .5s;
    background-color: white;
}

.productBox .categImg {
    width: 149px;
    height: 149px;
    margin-bottom: 25px;

}

.productBox h4 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.5);
}

.sale,
.bestSaletag {
    width: 71px;
    height: 24px;
    top: 8px;
    left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    background: #EA4C48;
    border-radius: 4px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-right: 15px;
    float: left
}

.sale span,
.bestSaletag span {
    align-self: center;
}

.productBox:hover {
    border: 1px solid var(--secondMainColor)
}

.oldNewPrice {
    margin: 9px 0;
    position: relative;
    width: 100%;
}

.oldNewPrice span {
    margin-right: 5px;
    font-size: 1em;
    font-weight: 700;
    color: black
}

.bag {
    position: absolute;
    right: 0;
    ;
    top: 0;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
}

.bag svg {
    align-self: center;
}

.old {
    opacity: .5;
    text-decoration: line-through;
}

.productBox:hover .bag {
    background-color: var(--secondMainColor);
}

.productBox:hover .bag svg path {
    fill: white;
}

.wishItems {
    position: absolute;
    top: 8;
    right: 8;
    display: none;
}

.productBox:hover .wishItems {
    display: block;
    transition: all .5s;
}

.wishItems a {
    display: flex;
    width: 33px;
    height: 33px;
    background: #F9F9F9;
    justify-content: center;
    margin-bottom: 8px;
    border-radius: 50%;
    ;
}

.wishItems svg {
    align-self: center;
}

.wishItems a:hover {
    background-color: var(--secondMainColor);
}

.wishItems a:hover svg {
    fill: white
}

.wishItems a:hover svg path {
    fill: white
}

.offersBox {
    width: 100%;
    height: 486px;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.blueOffer {
    background: linear-gradient(180deg, #337DBC 0%, rgba(51, 125, 188, 0) 100%);
}

.grayOffer {
    background: linear-gradient(180deg, #5C5966 0%, rgba(92, 89, 102, 0) 100%);
}

.yellowOffer {

    background: linear-gradient(180deg, #FED001 0%, rgba(254, 208, 1, 0) 100%);
}

.offersBox span {
    color: white;
}

.offersBox h4 {
    color: white;
    font-size: 2em;
    margin-top: 10px;
}

.timeCounterDwon span {
    font-size: 1.25em;
    color: white;

}

.timeCounterDwon i {
    display: block;
    font-size: .875em;
    color: white;
    margin-top: 7px;
}

.timeCounterDwon div {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin: 0 15px;
}

.timeCounterDwon div span {
    position: relative;
}

.timeCounterDwon div span:after {
    content: ":";
    color: white;
    display: inline-block;
    right: -15px;
    position: absolute
}

.timeCounterDwon div:last-child span::after {
    display: none;
}

.offersSec .container {
    padding: 0;
}

.offerBtn {
    background-color: var(--secondMainColor);
    color: white;
    font-size: 1.125em;
    margin: auto;
    margin-top: 26px;
    margin-bottom: 14px;
    width: 132px;
    height: 38px;
    border-radius: 30px;
    border: 1px solid var(--secondMainColor);
}

.offerBtn:hover {
    background-color: transparent;
    color: var(--secondMainColor);


}

.offersBox h6 {
    font-size: 1.25em;
    color: white;
    margin-top: 23px
}

.offersBox h6 span {
    color: #FF8A00
}

.offersBox.yellowOffer h6 span {
    background-color: #000;
    color: #FED727;
    padding: 4px 9px;
    border-radius: 4px;
}

.offersBox.yellowOffer h6 .offersBox.yellowOffer span,
.offersBox.yellowOffer h4 {
    color: black
}

.offersSec {
    padding-bottom: 55px;
}

.OfferImg {
    height: 246px;
    width: 100%;
}

.OfferImg img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/************************ Best Seller ***************/
.bestSeller {
    background-color: #F7F7F7;
    padding: 28px 0;
}

.saleCont {
    position: absolute;
    left: 8px;
    top: 8px
}

.bestSaletag {
    background-color: #2388FE;
}

.bestSellerBox .bestSellerBoxImg {
    width: 270px;
    margin: auto;
    margin-bottom: 27px;
    height: 270px;
}

.bestSellerBox .bestSellerBoxImg img {

    object-fit: cover;
}

.bestSellerBox h4 {
    color: var(--secondMainColor);
    margin-top: 21px;
    text-align: center;
    font-size: 1.125em;
    margin-bottom: 10px;
}

.bestSellerBox .saleCont {
    left: 24px;
    top: 24px
}

.bestSellerBox {
    padding: 12px;
    text-align: center;
    height: 600px;
}

.bestSellerBox .oldNewPrice {
    font-size: 1.25em;
}

.rateNum {
    font-size: 1.125em;
    color: #BCBCBC;
    font-weight: 700;
    display: inline-block;
    margin-left: 5px;
}

.addCartSellerBtn {
    width: 270px;
    margin-top: 0;
}

.addCartSellerBtn:hover svg path {
    fill: var(--secondMainColor)
}

.addCartSellerBtn i {
    align-self: center;
    margin-left: 5px;
}

.timeCounterDwon h6 {
    margin-bottom: 8px;
    font-size: 1.125em;
    color: #BCBCBC;
}

.bigsaleBoxRating {
    margin-bottom: 17px;
    display: flex;
    justify-content: center;
}

.ratingFeed {
    align-self: center;
}

.bigsaleBoxTime span,
.bigsaleBoxTime div span:after {
    color: black
}

.bigsaleBoxTime i {
    color: #9A9A9A;
}

.addtoCartBtnCont {
    position: relative;
    display: flex
}

.wishIcon {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #F2F2F2;
    display: flex;
    align-self: center;
    display: none;
}

.wishIcon svg {
    align-self: center;
}

.wishIcon:hover {
    background-color: var(--secondMainColor);
}

.wishIcon:hover svg path {
    fill: white
}

.bestSellerBox:hover .wishIcon {
    display: flex;
}

/*************************************************/
.offersAdvertisement .container {
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.offersAdvertisement {
    padding: 25px 0 19px
}

.advCont h6 {
    margin-bottom: 10px;
    color: white;
    font-size: 1.125em;
    font-weight: bold;
}

.advCont h4 {
    color: white;
    margin-bottom: 7px;
    font-size: 2em;
    font-weight: 700;
}

.advCont h4 span {
    color: var(--secondMainColor);
    margin-right: 5px;
}

.advCont p {
    font-weight: 700;
    font-size: 1em;
    line-height: 28px;
    color: #CCCCCC;
    margin: 0;
}

.advCont .offerBtn {
    margin: 0;
    margin-top: 24px;
    width: 132px;
    height: 38px;
    font-size: 1em;
    font-weight: 700;
}

/*****************************************/
.FeaturedProduct {
    padding-top: 0;
    padding-bottom: 35px;
}

.FeaturedProduct .productBox:hover {
    border: 1px solid var(--secondMainColor);
    box-shadow: 1px 7px 2px var(--box-shadow);
    margin-top: -5px;
    transition: all .5s;
}

.ClientsTestimonials {
    background: #F2F2F2;
    padding: 20px;
}

.title {
    font-weight: 700;
    margin-bottom: 22px;
    color: black;
    font-size: 1.375em;
}

.testmonialCar {
    position: relative;
}

.TestimonialsItem {
    height: 215px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 17px 14px;
    border: 1px solid transparent
}

.testIcon {
    margin-bottom: 13px;
}

.TestimonialsItem p {
    font-size: .875em;
    color: #949494;
    font-weight: bold;
    margin-bottom: 16px;
    max-height: 80px;
    overflow: hidden;
    line-height: 16px;
}

.testNameDesc {
    display: flex;
    float: left;
}

.testDetails {
    display: flex;
}

.clientRating {
    margin-left: auto;
    align-self: center;
    float: right;

}

.testImg {
    width: 45px;
    height: 45px;
    overflow: hidden;
    align-self: center;
    border-radius: 50%;
    margin-right: 11px;
}

.testImg img {
    height: 100%;
    object-fit: cover;
}

.testmName {
    align-self: center;
}

.testmName h6 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 7px;
}

.testmName span {
    font-size: .875em;
    font-weight: 700;
    opacity: .5;
}

.testmonialCar .owl-stage-outer {
    overflow: visible;
}

.testmonialCar .owl-stage-outer .owl-item {
    opacity: 0;
}

.testmonialCar .owl-stage-outer .owl-item.active {
    opacity: 1;
}

.TestimonialsItem:hover {
    transition: all .5s;
}

.TestimonialsItem:hover {
    border: 1px solid var(--secondMainColor);
    transition: all .5s;
    margin-top: -5px;
    box-shadow: 0 0 10px var(--box-shadow);
}

.TestimonialsItem:hover .testmName h6 {
    color: var(--secondMainColor);
}

.testmonialCar .owl-nav {
    position: absolute;
    top: -50px;
    right: 0;
}

.testmonialCar.owl-carousel .owl-nav button.owl-next,
.testmonialCar.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--main-color)
}

.testmonialCar.owl-carousel .owl-nav button.owl-next {
    right: 0
}

.testmonialCar.owl-carousel .owl-nav button.owl-prev {
    right: 50px
}

.testmonialCar.owl-carousel .owl-nav button.owl-next i,
.testmonialCar.owl-carousel .owl-nav button.owl-prev i {
    color: var(--main-color);
}

.testmonialCar.owl-carousel .owl-nav button.owl-next:hover i,
.testmonialCar.owl-carousel .owl-nav button.owl-prev:hover i {

    color: white
}

.testmonialCar.owl-carousel .owl-nav button.owl-next:hover,
.testmonialCar.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: var(--main-color);
}

button:focus {
    outline: 0;
}

/**************************************************/
.OurPartnersSec {
    padding: 32px 0
}

.ourPartnerImg {
    width: 100%;
    height: 60px;
    transition: all .5s;
}

.ourPartnerImg:hover {
    transform: scale(1.1);
    transition: all .5s;
}

.ourPartnerImg img {
    height: 100%;
    object-fit: cover;
}

/*******************************************************/
.FollowCarItem {
    height: 273px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.followOverlay {
    position: absolute;
    width: 0;
    height: 0;
    display: flex;
    justify-content: center;
    background: rgba(21, 18, 18, 0.7);
    top: 50%;
    right: 50%;
    left: 50%;
    bottom: 50%;
    z-index: 1;
    transition: all .5s;
}

.FollowCarItem img {
    height: 100%;
    object-fit: cover;
}

.FollowInstagram {
    padding: 34px 0;
}

.followOverlay a {
    align-self: center;
    color: white;
    display: none;
    transition: all .5s;
    font-size: 30px;
}

.followOverlay:hover a {
    color: var(--secondMainColor);
    transition: all .5s;

}

.FollowCarItem:hover .followOverlay {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    opacity: 1;
    transition: all .5s;
}

.FollowCarItem:hover .followOverlay a {
    display: block;
}

/*******************************************************/
.subscribeSec {
    padding: 27px 0;
    background: #F5F5F5;
}

.subscribeSec h6 {
    font-size: 1.375em;
    font-weight: 400;
    margin-bottom: 19px;
}

.subscribeSec p {
    margin-bottom: 0;
    font-size: 1em;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
}

.formSuvContainer {
    height: 100%;
    display: flex;
}

.subscribeForm {
    position: relative;
    align-self: center;
    margin: 0;
    height: 48px;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
}

.form-group {
    width: 100%;
    height: 100%;
}

.subscribeFormControl {
    height: 48px;
    width: 100%;
    background-color: white;
    border: 0
}

.subscribeBtn {
    position: absolute;
    background-color: var(--secondMainColor);
    right: 0;
    top: 0;
    border-radius: 0px 30px 30px 0px;
    width: 128px;
    height: 100%;
    border: 0;
    font-size: 1.125em;
    color: white;
    font-weight: bold;
    border: 1px solid var(--secondMainColor)
}

.subscribeFormControl::placeholder {
    font-weight: 700;
    font-size: 16px;
    opacity: .38;
}

.subscribeBtn:hover {
    background-color: transparent;
    color: var(--secondMainColor)
}

.socialIconsSub {
    display: flex;
    height: 100%;
}

.socialIconsSub a {
    color: #B8B8B8;
    font-size: 24px;
}

.socialIconsSub li {
    align-self: center;
    margin-right: 25px;
}

.socialIconsSub li:hover a {
    color: var(--secondMainColor);
}

.socialIconsSub li i {
    transition: all .2s;
}

.socialIconsSub li:hover i {
    transform: scale(1.2);
    transition: all .2s;
}

/********************************************/
footer {
    padding-top: 32px;
    background-color: var(--main-color);
    color: white
}

.footerLogo {
    width: 84px;
    height: 95px;
    margin-bottom: 14px;
}

footer p,
h6 {
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    line-height: 19px;
}

footer p {
    margin-bottom: 19px;
}

.footerList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerList h5 {
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 1.125em;
}

.footerList li {
    list-style-type: none;
    margin-bottom: 17px;
    font-size: 1em;
    font-weight: 700;

}

.footerList li a {
    color: white;
    opacity: .8;
}

.footerList li:hover a {
    opacity: 1;
    color: var(--secondMainColor)
}

.copy {
    margin-top: 19px;
    padding: 11px 0;
    border: 1px solid rgba(255, 255, 255, .38);
    text-align: center;
    font-size: 1em;
    font-weight: 700;

}

/*******************************************/
.breadcrumbContainer {
    background: #AEAEAE;
    padding: 11px 0;
}

.breadcrumb {
    width: 100%;
    padding: 0;
    background-color: transparent;
    margin-bottom: 0;
}

.breadcrumb-item a {
    color: white;
    font-size: 1em;
    font-weight: 400;
}

.breadcrumb-item:hover a {
    color: var(--secondMainColor)
}

.breadcrumb-item.active {
    color: var(--secondMainColor)
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\f054";
    font-weight: 400;
    font-family: "FontAwesome";
    color: white;
    font-size: 12px;
    margin: 0 10px
}

.categoriesPage {
    padding: 35px 0 57px
}

.filterBtn {
    background-color: var(--secondMainColor);
    width: 129px;
    height: 45px;
    color: white;
    font-size: .875em;
    border-radius: 43px;
    margin-bottom: 38px;
    border: 1px solid var(--secondMainColor)
}

.filterBtn svg {
    align-self: center;
    margin-left: 20px
}

.filterBtn:hover {
    background-color: transparent;
    color: var(--secondMainColor)
}

.filterBtn:hover svg,
.filterBtn:hover svg path {
    fill: var(--secondMainColor)
}

.FilterList li {
    border-bottom: 1px solid #E6E6E6;
    padding: 18px 0
}

.FilterList li:last-child {
    border-bottom: 0;
}

.radioBtnContainer {
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radioBtnContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.radioBtnContainer .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioBtnContainer:hover input~.checkmark {
    background-color: white;
}

/* When the radio button is checked, add a blue background */
.radioBtnContainer input:checked~.checkmark {
    background-color: white;
    border: 1px solid var(--secondMainColor)
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioBtnContainer .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioBtnContainer input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radioBtnContainer .checkmark:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--secondMainColor);
}

.checkContainer .checkmark:after {
    left: 4px;
    top: 2px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 0;
}

.checkContainer {
    font-size: 14px;
    color: #1A1A1A
}

.checkContainer .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 3px;

}

.checkContainer input:checked~.checkmark {
    background-color: var(--secondMainColor);
}

/**************************************/

.FilterList a i {
    float: right;
}

.radioBtnContainer {
    font-size: 14px;
    font-style: normal;
}

.radioBtnContainer span {
    color: #808080;
    margin-left: 2px
}

.radioBtnContainer i {
    font-style: normal;
    margin-left: 5px;
}

.FilterList ul li {
    border-bottom: 0;
    margin-bottom: 18px;
    padding: 0;
}

.filterContent {
    padding-top: 20px
}

.FilterList li a {
    font-size: 20px;
    color: #1A1A1A
}

.FilterList li a h6 {
    display: inline-block;
}

.priceLabel {
    margin-top: 20px;
    font-size: 14px;
    color: #4D4D4D;
    display: inline-block;
}

.priceRange {
    display: inline-block;
    border: 0;
    color: #1A1A1A;
    font-size: 14px;
}

.priceRange:focus {
    outline: 0;
    box-shadow: 0;
}

#price-range {
    background-color: #E6E6E6;
    height: 6px;
}

.ui-widget-header {
    background-color: var(--secondMainColor);
    border: 0
}

.ui-slider .ui-slider-handle {
    width: 18px;
    height: 18px;
    border: 2px solid var(--secondMainColor);
    background-color: white;
    border-radius: 50%;
    top: -7px
}

.ui-slider .ui-slider-handle:hover,
.ui-slider .ui-slider-handle:focus {
    border: 2px solid var(--secondMainColor);
    box-shadow: none;
    outline: 0;
}

.FilterTagCont {
    display: inline-block;
    margin-right: 14px;
    margin-bottom: 8px;
}

.FilterTagCont:last-child {
    margin-right: 0;
}

.FilterTagCont span {
    align-self: center;
}

.FilterTagCont input {
    position: absolute;
    width: 0;
    height: 0;
}


.FilterTag {
    display: inline-flex;
    padding: 2px 10px;
    background-color: #F2F2F2;
    font-size: 14px;
    color: #1A1A1A;
    font-weight: 400;
    border-radius: 30px;
}

.FilterTagCont input:checked~.FilterTag {
    background-color: var(--secondMainColor);
    color: white
}

.SalesProductList {
    margin-top: 32px;
}

.SalesProductList h6 {
    font-size: 20px;
    color: #1A1A1A;
    margin-bottom: 14px;
}

.SalesProductList li {
    margin-bottom: 14px;
}

.SalesProductBox {
    height: 112px;
    padding: 12px;
    display: flex;
}

.SalesProductBox .categImg {
    width: 87px;
    height: 87px;
    margin: 0;
    margin-right: 33px;
}

.SalesProductBox .categImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.productCategDetails {
    align-self: center;
}

.SalesProductBox .productCategDetails h4 {
    margin-top: 0
}

.categoriesPage .productBox {
    margin-bottom: 25px;
}

.filterHeader {
    display: flex
}

.filterHeader .selectric-select {
    width: 168;
    margin-left: 12px;
    min-height: 40px;
    height: 40px !important;
    border: 1px solid #E6E6E6;
}

.selectric .label,
.selectric-items li {
    font-size: 14px;
    color: #4D4D4D
}

.selectric-items li:hover {
    color: var(--secondMainColor)
}

.selectric-items li.selected {
    display: none;
}

.SortList {
    align-self: center;
    display: flex;
}

.filterHeader span {
    font-size: 1em;
    font-weight: 600;
    color: #1A1A1A;
    margin-left: auto;

}

.filterHeader span span {
    margin-left: 5px;
    color: #666666;
    font-weight: 500;
}

.filterHeader {
    margin-bottom: 35px;
}

.categoriesPage .productBox:hover {
    margin-top: -5px;
    box-shadow: 1px 7px 2px var(--box-shadow);

}

.filterHeader p {
    float: left;
    font-size: .875em;
    color: #808080;
    align-self: center;
    margin-bottom: 0;
}

.selectric-items {
    box-shadow: none;
}

.pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.pagination .page-item .page-link {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-size: 1em;
    font-weight: 500;
    border: 0;
    color: #666666;

}

.pagination .page-item {
    margin-left: 12px
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link {
    border: 1px solid #E6E6E6;
    background-color: transparent;
}

.pagination .page-item .page-link {
    align-self: center;
}

.pagination .page-item.disabled .page-link,
.pagination .page-item.disabled:hover .page-link {
    background: #F2F2F2;
    color: #666666;
    cursor: auto;
}

.pagination .page-item.active .page-link,
.pagination .page-item:hover .page-link {
    background-color: var(--secondMainColor);
    color: white
}

.selectric .button {
    font-size: 1em;
    top: 5px;
    color: #4D4D4D
}

.btn {
    display: flex;
    justify-content: center;
}

.btn span {
    align-self: center;
}

.producViewImage {
    width: 80%;
    overflow: hidden;
    border: 1px solid #BEBEBE;
    position: relative;
    float: left;
    height: 100%;
}

#productViewSlider {
    width: 14%;
    overflow: hidden;
    display: block !important;
    float: left;
    height: 400px !important;
    margin-right: 12px;
}

.productImageList {
    height: 400px;
    margin-top: 30px
}

#viewProduct .modal-dialog {
    max-width: 1320px;
    border-radius: 8px;
    min-height: 540px;
}

#viewProduct .modal-body {
    padding: 30px 40px;
}

.zoomContainer {
    z-index: 999999999 !important;
}

.producViewImage {
    padding: 20px
}

.producViewImage img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

#productViewSlider .owl-nav {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    text-align: center;
    color: #999999;
}

#productViewSlider.owl-carousel .owl-nav .owl-next,
#productViewSlider.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: -20px;
    left: 50%
}

#productViewSlider.owl-carousel .owl-nav .owl-next {
    bottom: -20px;
    top: auto
}

#productViewSlider .owl-stage-outer {
    overflow: visible;
}

#productViewSlider {
    overflow: visible;
}

#productViewSlider .owl-stage-outer .owl-item {
    opacity: 0;
}

#productViewSlider .owl-stage-outer .owl-item.active {
    opacity: 1;
}

.viewProductsDetails h6 {
    font-weight: 600;
    font-size: 2em;
    display: inline-block;
}

.viewProductsDetailsTitle span.inStock {
    background: rgba(32, 181, 38, 0.2);
    color: rgba(32, 181, 38, 1);
}
.viewProductsDetailsTitle span {
    border-radius: 4px;
    padding: 4px;
    margin-left: 24px
}
.viewProductsDetailsTitle span.empty {
    background:rgba(206, 30, 30,.2);
    color: rgba(206, 30, 30,1);
}

.viewProductsDetailsTitle {
    margin-bottom: 15px;
}

.viewProductRating i {
    margin-left: 5px;
    font-size: 14px;
    color: #666666;
    font-style: normal;
}

.viewProductRating span {
    font-size: 14px;
    color: #333333;
    font-weight: 500;
}

.viewProductRating {
    margin-bottom: 28px;
}

.viewProductRating li {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.viewProductRating li:last-child:before {
    content: ".";
    color: #B3B3B3;
    margin: 0 12px;
    font-size: 1.125em;
    font-weight: 500;
}

.viewProductPrice .old {
    font-size: 1.25em;
    color: #B3B3B3;
    margin-right: 10px;
}

.viewProductPrice .newPrice {
    color: var(--secondMainColor);
    font-size: 1.5em;
}

.viewProductRating .clientRating {
    float: none;
}

.discount {
    background: rgba(234, 75, 72, 0.1);
    border-radius: 30px;
    margin-left: 10px;
    padding: 3px 10px;
    color: #EA4B48;
    font-size: .875em;
}

.viewProductPrice {
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 32px;
}

.viewProductSocial {
    margin-bottom: 33px;
}

.viewProductSocial span {
    color: #1A1A1A;
    font-size: .875em;
    margin-right: 18px;
}

.viewProductSocial .socialIconsSub {
    display: inline-block;
    height: auto;
}

.viewProductSocial .socialIconsSub li {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
    justify-content: center;
}

.viewProductSocial .socialIconsSub li a {
    color: #4D4D4D;
    font-size: 18px;
    align-self: center;
}

.viewProductSocial .socialIconsSub li:hover {
    background-color: var(--secondMainColor);
    transform: scale(1);
    transition: all .2s;

}

.viewProductSocial .socialIconsSub li:hover a {
    color: white;
    transform: scale(1);
    transition: all .2s;
}

.viewProductSocial .socialIconsSub li:hover a i {
    transform: scale(1);

}

.viewProductsDetails p {
    font-size: .875em;
    color: #808080;
    margin-bottom: 30px;
}

.plusMinusProductContainer {
    margin-right: 26px;
    display: flex;
}

.plusMinusProductContainer .addCartSellerBtn {
    margin-bottom: 0;
    display: inline-flex;
    width: 368px;
}

.btn-number {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    color: #666666;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    border: 0;
    background: #F2F2F2;
}

.btn-number.disabled:hover {
    background: #F2F2F2;
}

.input-number {
    font-size: 1em;
    color: #1A1A1A;
    border: 0;
    display: inline-flex;
    justify-content: center;
    width: 34px;
    height: 34px;
    align-self: center;
}

.btn-number i {
    align-self: center;
}

.btn-number:hover {
    background-color: var(--secondMainColor);
    color: white;
}

.qty-plus-minus {
    display: inline-flex;
    margin-right: 15px;
}

.plusMinusProductContainer .wishIcon {
    display: inline-block;
    position: relative;
    background: var(--box-shadow);
    display: inline-flex;
    justify-content: center;
    align-self: center;
}

.plusMinusProductContainer .wishIcon svg {
    align-self: center;
}

.plusMinusProductContainer .wishIcon svg path {
    fill: var(--secondMainColor);
    margin-left: 12px
}

.plusMinusProductContainer .wishIcon:hover svg path {
    fill: white
}

.plusMinusProductContainer .wishIcon:hover {
    background-color: var(--secondMainColor);
}

.categTags {
    margin-top: 50px
}

.categTags h6 {
    font-size: .875em;
    color: #1A1A1A;
    display: inline-block;
    margin-right: 6px;
    font-weight: 600;
}

.categTags span {
    font-weight: 400;
    color: #808080;
    font-size: .875em;
    margin-right: 5px;
}

.categTags li {
    margin-bottom: 12px;
}

.categTags span.active {
    color: #1A1A1A;
    text-decoration: underline;
}

.categTags li:last-child {
    margin-bottom: 0;
}

.modal .close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 99999;
}

/***********************************************************************/
.productDetailsPageHeader {
    padding-bottom: 70px;
    padding-top: 55px
}

.ProductCategDetails {
    padding-bottom: 60px;
}

.ProductCategDetails .categPills {
    box-shadow: 0px 1px 0px #E6E6E6;
    justify-content: center;
    padding: 0;
}

.categPills .nav-link {
    border: 0;
    padding: 10px 0;
    position: relative;
    font-size: 1em;
    font-weight: 600;
    color: #808080;
    border-radius: 0;
    margin:0 25px
}

.categPills .nav-link.active {
    background-color: transparent;
    color: var(--secondMainColor);
    border-bottom: 1px solid var(--secondMainColor);
}

.categProductCont {
    padding-top: 52px
}

.productDescDetails p {
    font-size: .875em;
    color: #808080;
    margin-bottom: 20px;
}

.productDescDetails ul li {
    position: relative;
    margin-bottom: 14px;
    font-weight: 400;
    color:#808080
}
.productDescDetails ul{
    margin-bottom: 20px;
}
.productDescDetails li:before {
    content: "\f058";
    color: var(--secondMainColor);
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    margin-left: 5px;
    font-size: 20px;
    margin-right: 8px;
}
.productVideo{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
}
.productVideo video{
width: 100%;
height: 100%;
object-fit: cover;
}
.discountDetailsBox{
    width: 100%;
    display: flex;
    border: 1px solid #E6E6E6;
border-radius: 6px;
height: 95px;
justify-content: space-between;
padding:30px 20px
}
.discoutProductSide{
    align-self: center;
    display: inline-flex;
}
.discoutProductSide svg path{
    fill:var(--secondMainColor)
}
.discoutProductSide  i{
    margin-right: 15px;
}
.discountsideDetails h5{
    margin-bottom: 7px;
    font-size: .875em;
    color:#1A1A1A;
}
.discountsideDetails span{
    font-size: 0.8125em;
    color:#808080;
}
.categProductCont .categTags{
margin-top:0
}
.categProductCont .categTags li h6{
font-weight: 400;
width: 100px;
}
.categProductCont .categTags li  span{
    color:#666666
}
.custopReviewBox{
    padding:27px 0;
    border-bottom: 1px solid #E6E6E6;
}
.custopReviewBox.noBorder{
    border-bottom: 0;
}
.custopReviewBox span{
    color: #999999;
    text-align: right;
    font-size: .875em;
    font-weight: 400;
    float: right;
}
.customReiewHeader{
    display: flex;
    margin-bottom: 12px;
}
.custermName{
    width: 41px;
height: 41px;
border-radius: 50%;
overflow: hidden;
}
.custermName img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.custopReviewBox p{
    color: #808080;
    font-size: .875em;
    font-weight: 400;
    max-width: 80%;
}
.customerReviewDetails{
    margin-left:12px
}
.customerReviewDetails h6{
    font-size: .875em;
    color: #1A1A1A;
}
.customerReviewDetails .clientRating{
    float: none;
}

.loadMoreBtn{
    width: 138px;
    height: 48px;
    background-color: var(--box-shadow);
    font-size: .875em;
    color:var(--secondMainColor);border-radius: 43px;
}
.loadMoreBtn:hover{
    background-color: var(--secondMainColor);
    color:white
}
.shopMenu{
    width: 354px;
    height: 100vh;
    position: absolute;
    left:0;
    top:0;
    padding:30px 18px; 
    border: 1px solid #E6E6E6;
    box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.12);;
}